@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
img {
    vertical-align: top;
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    font-family: "Noto Sans", sans-serif;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40%;
    position: fixed;
    padding: 20px 0;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.575);
}
.header-menu {
    display: flex;
    gap: 50px;
    align-items: center;
}
.header-menu li a {
    display: block;
    font-size: 1rem;
}
.main {
    width: 100%;
    position: relative;
}
.main-text {
    position: absolute;
    left: 10%;
    top: 23%;
    font-weight: bold;
    font-size: 6rem;
    color: #3ea480;
}
.main img {
    width: 100%;
}
.content {
    width: 90%;
    margin: 80px auto;
}
.content img {
    width: 100%;
    height: 100%;
}
