@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
img {
    vertical-align: top;
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    font-family: "Noto Sans", sans-serif;
    width: 100%;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40%;
    position: fixed;
    padding: 20px 0;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.575);
}
.header-menu {
    display: flex;
    gap: 50px;
    align-items: center;
}
.header-menu li a {
    display: block;
    font-size: 1rem;
}
.main {
    width: 100%;
    position: relative;
    margin: 82px 0;
}
.main-text {
    position: absolute;
    left: 10%;
    top: 20%;
    font-weight: bold;
    font-size: 6rem;
    color: #3ea480;
}
.main img {
    width: 100%;
}
.wrap {
    width: 80%;
    margin: 0 auto;
}
.content {
    width: 85%;
    margin: 80px auto;
}
.content img {
    width: 100%;
    height: 100%;
}
.content-product-text {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
.content-product-text h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}
.content-product-text h3 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.content-product-text p {
    font-size: 2rem;
    margin-bottom: 80px;
    line-height: 1.6;
}
.box-list {
    width: 260px;
}
.content-box {
    display: flex;
}
.box-list li {
    display: flex;
    width: 100%;
    height: 90px;
    border-radius: 45px;
    background-color: #f8f8f8;
    align-items: center;
    justify-content: center;
    gap: 32px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.4px;
    color: #171b39;
    margin-top: 35px;
}
.box-list li img {
    width: 50px;
    height: 50px;
}
@media (max-width: 600px) {
}
